/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* real stuff */

menu,ol,ul{padding:0;}

body {
  background: #fcfcfc url('../img/debut_light.png');
  color: #2e2634;
  font-family: gentium-book-basic, 'Georgia', serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 18px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  body {
    background-image: url(../img/debut_light_2X.png);
    background-size: 200px 200px;
  }
}

strong {
  font-weight: 700;
}

h1, h2, h3, .topbar a { line-height: 1.1em; }

h1 a, h2 a {
  text-decoration: none;
}

h1 {
  font-size: 32pt;
  text-align: center;
  border-bottom: 1px dotted #aaa;
  padding-bottom: .5em;
  margin-top: 2em;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 14pt;
}

a {
  color: #1C481A;
}

a:hover {
  color: #030;
}

article {
  margin: 1em auto;
}

article blockquote {
  margin: 1em;
}

article li {
  margin-left: 2.5em;
}

article p, article ol, article blockquote, article ul, .addthis_toolbox {
  margin: 0 auto 1em auto;
}

article footer {
  margin-bottom: 2em;
}

.visuallyhidden {
  position: absolute;
  left: -100%;
}

#container > footer {
  margin-top: 2em;
}

.post article h1 {
  text-align: center;
}

footer {
  border-top: solid 1px #ddd;
  font-style: italic;
  padding: 1em;
  margin-top: 1em;
}

pre, code {
  font-size: 13px;
}


blockquote {
  font-style: italic;
  color: #333;
  background: rgba(255,255,255,.5);
  border-left:10px solid #ddd;
  margin:1.5em 10px;
  padding:.5em 10px;
  quotes:"\201C""\201D""\2018""\2019";
  border-radius: 10px;
}

blockquote p {
  display:inline;
}

aside h1 {
  font-size: 18pt;
}

.btn {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,.25);
  background-color: #1C481A;
  border-radius: 2px;
  border: solid 1px #fff;
  border-bottom: solid 2px #eee;
  text-decoration: none;
  padding: .25em .5em;
  display: inline-block;
}

.btn:hover {
  color: #eee;
  background-color: #79091c;
}

.topbar {
  background: #1C481A;
  border-bottom: solid 2px #ddd;
  width: 100%;
  font-size: 14px;
  overflow: auto;
}

.topbar h1 {
  color: #fff;
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 14pt;
  border-bottom: none;
  float: left;
}

.topbar nav, .topbar ul {
  padding: 0;
  float: right;
  margin: 0;
}

.topbar li {
  display: inline-block;
  margin-left: 1em;
}

.topbar a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .25em;
  font-size: 20px;
}

.topbar a:hover {
  color: #ddd;
}

.archive ul {
  list-style: none;
}

.archive time {
  background: #999;
  color: white;
  border-radius: 3px;
  padding: 1px 5px;
}

.archive li {
  margin-bottom: .5em;
}

.archive a {
  padding-left: .5em;
}

.oldie article {
  text-align: center;
}

.oldie article * {
  text-align: left;
}

.row {
  max-width: 42em;
  padding: 1em;
  margin: auto;
}

.siteheader {
  margin: 1em auto 2em auto;
}

@media handheld, only screen and (max-width: 767px) {
  .topbar nav {
    float: none;
  }

  .topbar a {
    padding-left: 0;
  }

  .siteheader h1 {
    color: #98193d;
    line-height: 1em;
    font-size: 40px;
  }

  .siteheader h2 {
    font-size: 41px;
    line-height: 1em;
  }

  .topbar li {
    display: list-item;
  }
}
