---
layout: default
title: A Better Way
---

<div class="row">
  <section class="span10">
    <h1>Recent Posts</h2>
    {% for post in site.posts limit:5 %}
      <article>
        <header>
          <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        </header>

        <div class="body">
          {{ post.content }}
        </div>
        
        <footer class="meta">
          Posted on <a href="{{ post.url }}"><time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date_to_string }}</time></a>
        </footer>
      </article>
    {% endfor %}

    <a class="btn primary" href="/archive.html">View More</a>
  </section>

  <aside class="span6 sidebar">
    <div class="well">
      <h1>Latest 20 Posts</h1>
      <ul class="posts">
        {% for post in site.posts limit:20 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>

      <a class="btn primary" href="/archive.html">Archive</a>
    </div>
  </aside>
</div>
