<div class='post container'>
  <div class='row'>
    <article class='article'>
      <header class='article-header'>
        <h1 class='article-title'>
          <a href='{{ include.post.url }}' class='heading'>
            {{ include.post.title }}
          </a>
        </h1>
      </header>

      {{ include.content | include.post.content }}

      <footer class='article-footer'>
        Posted <time datetime='{{ include.post.date | date_to_xmlschema }}' pubdate>{{ include.post.date | date_to_string }}</time>.
        {% if include.post.gpg %}
          <a href='{{ include.post.gpg }}'>View the GPG signature.</a>
        {% endif %}
      </footer>
    </article>
  </div>
</div>
