<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }} | A Better Way - Jack Lawson</title>

    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/EB+Garamond:400,400i,700">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="alternate" type="application/rss+xml" title="A Better Way RSS Feed" href="/atom.xml">
  </head>

  <body>
    <div id="container" class="container">
      <header class="nav-bar">
        <div class="row">
          <h1 class="nav-bar-heading"><a href="/">A Better Way</a></h1>

          <nav>
            <ul class="nav-list">
              <li><a href="/archive.html">archive</a></li>
              <li><a href="/presentations.html">presentations</a></li>
              <li><a href="/about.html">about</a></li>
              <li><a href="http://www.twitter.com/ajacksified">twitter</a></li>
              <li><a href="https://github.com/ajacksified">github</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div id="main" role="main">
        {{ content }}
      </div>

      <footer class="row well">
        &copy; 2013 Jack Lawson.
        <a href="https://github.com/ajacksified/ajacksified.github.com">Blog source on GitHub</a>
        <a href="/atom.xml" class="pull-right">RSS Feed (atom)</a>
      </footer>
    </div>

    <script src="/js/libs.min.js" async></script>
  </body>
</html>

