<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }} | A Suffusion of Coffee - Jack Lawson</title>

    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="alternate" type="application/rss+xml" title="A Suffusion of Coffee RSS Feed" href="/atom.xml">
  </head>

  <body>
    <div id="container" class="container">
      <header class="nav-bar" id="header">
        <div class="row">
          <h1 class="nav-bar-heading"><a href="/">~/</a></h1>

          <nav>
            <ul class="nav-list">
              <li><a href="/archive.html">archive</a></li>
              <li><a href="/presentations.html">presentations</a></li>
              <li><a href="/about.html">about</a></li>
              <li><a href="http://www.twitter.com/ajacksified">twitter</a></li>
              <li><a href="https://github.com/ajacksified">github</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <div id="main" role="main">
        {{ content }}

        <div class="container">
          <div class="row">
            <a href="/archive.html">&lt;&lt; View Older Posts</a>
          </div>
        </div>
      </div>

      <footer class="site-footer" id="footer">
        <div class="row well">
          &copy; 2016 Jack Lawson.
          <a href="https://github.com/ajacksified/ajacksified.github.com">github</a>
          <a href="https://twitter.com/ajacksified">twitter</a>
          <a href="https://keybase.io/ajacksified">keybase (GPG)</a>
          <a href="/atom.xml" class="pull-right">RSS Feed (atom)</a>
        </div>
      </footer>
    </div>

    <script src="/js/libs.min.js" defer></script>
  </body>
</html>
