---
layout: default
---
<div class="post container">
  <div class="row">
    <article class='article'>
      <header class="site-header">
        <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
      </header>

      <div class="body">
        {{ content }}
      </div>

      <footer>
        <p>
          Posted on <a href="{{ page.url }}"><time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time></a>
        </p>
      </footer>
    </article>
  </div>
</div>
